*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    background-color: hsl(47, 88%, 63%);
    justify-content: center;
}

p{
    color: hsl(0, 0%, 42%);
    font-size: 0.95rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}

h1{
    font-size: 1.4rem;
    font-weight: 800;
    width: fit-content;
}

footer {
    margin: 20px;
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}

.preview-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 0.1rem solid hsl(0, 0%, 7%);
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    padding: 1.1rem;
    background-color: white;
    /*filter: drop-shadow(black 0.5rem 0.5rem 0);*/
    box-shadow: 0.5rem 0.5rem 0 black;
}

.preview-image {
    vertical-align: middle;
}

.tags, .date-post, h1, .post-brief, .post-author{
    /*margin: 6px;*/
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.tags-learning{
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 6px 14px 6px 14px;
    border-radius: 5px;
    font-weight: 800;
}

.date-post{
    font-size: 0.8rem;
    /*width: fit-content;*/
}

.post-brief{
    line-height: 1.25rem;
}

.post-author{
    display: flex;
    align-items: center;
    height: 2rem;
}

.post-author-photo{
    scale: 70%;
}

.post-author-name{
    font-weight: 800;
}

h1:hover, .post-author-name:hover, .tags-learning:hover{
    color: hsl(0, 0%, 42%);
    cursor: pointer;
}

.preview-box:hover{
    box-shadow: 0.5rem 0.5rem 8px black;
}
